body {
  font-family: sans-serif;
}

.person-info {
  width: 400px;
  margin: 0 auto;
  float: left;
}

.avatar {
  height: 388px;
  width: 388px;
  border-radius: 6px;
}

.shoutout {
  text-align: left;
}

.arrow {
  height: 50px;
  width: 50px;
  float: left;
  margin: 250px 20px 20px 20px;
}

#carousel {
  width: 600px;
  margin: 0 auto;
  flex: auto;
  text-align: center;
}
