* {
  border: 1px solid red;
}

body {
  font-family: sans-serif;
}

.individual-info {
  width: 400px;
  margin: 0 auto;
  float: left;
}

.avatar {
  height: 388px;
  width: 388px;
  border-radius: 6px;
}

.shoutout {
  text-align: left;
}

.arrow {
  height: 50px;
  width: 50px;
  float: left;
  margin: 250px 20px 20px 20px;
  cursor: pointer;
}

.circle {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background: black;
  margin: 10px;
  display: inline;
  float: left;
}

#currentIndex {
  background: blue;
}

#carousel {
  width: 600px;
  margin: 0 auto;
  flex: auto;
  text-align: center;
}
